<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>

<form action="/saveCompany" method="post"; >
    <h1>ADD COMPANY</h1><br>
    Name: <input style="margin-top: auto" type="text" name="name"> <br>

    Size: <input style="margin-top: auto" type="text" name="size"> <br>

    Address: <input style="margin-top: auto" type="text" name="address"> <br>


    <input style="margin-top: auto" type="submit" value="add Company">  </form>



</body>
</html>